@model IEnumerable<Vidly.Models.Movie>
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><em>Movies</em></h2>
@Html.ActionLink("New", "New", "Movies",null, new { @class = "btn btn-warning" })

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th class="text-warning"> Movie</th>
			<th class="text-warning">Release Date</th>
			<th class="text-warning">Genre</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var movie in Model)
		{
			<tr class="table-info">
				<td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null)</td>
				<td>@movie.ReleaseDate.ToShortDateString()</td>
				<td>@movie.Genre.Name</td>
			</tr>
		}
	</tbody>
</table>

